<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<body>
  <form>
    <th:block th:fragment="select (label, name, items)">
      <div th:with="valid=${!#fields.hasErrors(name)}" th:class="${'app-form-row' + (valid ? '' : ' has-error')}"
        class="app-form-row">
        <label th:for="${name}" class="form-label app-form-label" th:text="${label}">Label</label>

        <div class="app-field">
          <select class="form-select form-select-lg" th:field="*{__${name}__}">
            <option th:each="item : ${items}" th:value="${item}" th:text="${item}">dog</option>
          </select>
          <th:block th:if="${!valid}">
            <span class="help-inline" th:errors="*{__${name}__}" th:text="#{error}">Error</span>
          </th:block>
        </div>
      </div>
    </th:block>
  </form>
</body>

</html>
